<div class="mood-control row g-3">
    <div class="form-group">
        <label for="value" class="form-label text-left">Mood:</label>
        <input id="value" name="value" [(ngModel)]="mood.value" class="form-range" type="range" min="0" max="4" step="1" tick="1">
    </div>
    <div class="form-group">
        <label for="description" class="form-label">Description:</label>
        <textarea id="description" name="description" class="form-control" cols="80" rows="10" [(ngModel)]="mood.description"></textarea>
    </div>
</div>