input[type="range"]::-moz-range-track {
    background: linear-gradient(90deg, rgba(255, 80, 80, 1) 0%, rgba(255, 162, 77, 1) 12%, rgba(255, 255, 87, 1) 25%, rgba(214, 214, 82, 1) 37%, rgba(176, 175, 175, 1) 50%, rgba(119, 255, 119, 1) 63%, rgba(60, 255, 60, 1) 75%, rgba(120, 255, 243, 1) 87%, rgba(81, 88, 255, 1) 100%);
}

input[type="range"]::-ms-track {
    background: linear-gradient(90deg, rgba(255, 80, 80, 1) 0%, rgba(255, 162, 77, 1) 12%, rgba(255, 255, 87, 1) 25%, rgba(214, 214, 82, 1) 37%, rgba(176, 175, 175, 1) 50%, rgba(119, 255, 119, 1) 63%, rgba(60, 255, 60, 1) 75%, rgba(120, 255, 243, 1) 87%, rgba(81, 88, 255, 1) 100%);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, rgba(255, 80, 80, 1) 0%, rgba(255, 162, 77, 1) 12%, rgba(255, 255, 87, 1) 25%, rgba(214, 214, 82, 1) 37%, rgba(176, 175, 175, 1) 50%, rgba(119, 255, 119, 1) 63%, rgba(60, 255, 60, 1) 75%, rgba(120, 255, 243, 1) 87%, rgba(81, 88, 255, 1) 100%);
}