input[type="range"]::-moz-range-track {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 25%, rgba(170, 170, 170, 1) 50%, rgba(0, 255, 0, 1) 75%, rgba(0, 0, 255, 1) 100%);
}

input[type="range"]::-ms-track {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 25%, rgba(170, 170, 170, 1) 50%, rgba(0, 255, 0, 1) 75%, rgba(0, 0, 255, 1) 100%);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 25%, rgba(170, 170, 170, 1) 50%, rgba(0, 255, 0, 1) 75%, rgba(0, 0, 255, 1) 100%);
}

input[type="range"][ng-reflect-model="0"]::-moz-range-thumb {
    background-color: var(--value-0);
}

input[type="range"][ng-reflect-model="1"]::-moz-range-thumb {
    background-color: var(--value-1);
}

input[type="range"][ng-reflect-model="2"]::-moz-range-thumb {
    background-color: var(--value-2);
}

input[type="range"][ng-reflect-model="3"]::-moz-range-thumb {
    background-color: var(--value-3);
}

input[type="range"][ng-reflect-model="4"]::-moz-range-thumb {
    background-color: var(--value-4);
}

input[type="range"][ng-reflect-model="0"]:active::-moz-range-thumb {
    background-color: var(--value-0);
}

input[type="range"][ng-reflect-model="1"]:active::-moz-range-thumb {
    background-color: var(--value-1);
}

input[type="range"][ng-reflect-model="2"]:active::-moz-range-thumb {
    background-color: var(--value-2);
}

input[type="range"][ng-reflect-model="3"]:active::-moz-range-thumb {
    background-color: var(--value-3);
}

input[type="range"][ng-reflect-model="4"]:active::-moz-range-thumb {
    background-color: var(--value-4);
}

input[type="range"][ng-reflect-model="0"]::-ms-thumb {
    background-color: var(--value-0);
}

input[type="range"][ng-reflect-model="1"]::-ms-thumb {
    background-color: var(--value-1);
}

input[type="range"][ng-reflect-model="2"]::-ms-thumb {
    background-color: var(--value-2);
}

input[type="range"][ng-reflect-model="3"]::-ms-thumb {
    background-color: var(--value-3);
}

input[type="range"][ng-reflect-model="4"]::-ms-thumb {
    background-color: var(--value-4);
}

input[type="range"][ng-reflect-model="0"]:active::-ms-thumb {
    background-color: var(--value-0);
}

input[type="range"][ng-reflect-model="1"]:active::-ms-thumb {
    background-color: var(--value-1);
}

input[type="range"][ng-reflect-model="2"]:active::-ms-thumb {
    background-color: var(--value-2);
}

input[type="range"][ng-reflect-model="3"]:active::-ms-thumb {
    background-color: var(--value-3);
}

input[type="range"][ng-reflect-model="4"]:active::-ms-thumb {
    background-color: var(--value-4);
}

input[type="range"][ng-reflect-model="0"]::-webkit-slider-thumb {
    background-color: var(--value-0);
}

input[type="range"][ng-reflect-model="1"]::-webkit-slider-thumb {
    background-color: var(--value-1);
}

input[type="range"][ng-reflect-model="2"]::-webkit-slider-thumb {
    background-color: var(--value-2);
}

input[type="range"][ng-reflect-model="3"]::-webkit-slider-thumb {
    background-color: var(--value-3);
}

input[type="range"][ng-reflect-model="4"]::-webkit-slider-thumb {
    background-color: var(--value-4);
}

input[type="range"][ng-reflect-model="0"]:active::-webkit-slider-thumb {
    background-color: var(--value-0);
}

input[type="range"][ng-reflect-model="1"]:active::-webkit-slider-thumb {
    background-color: var(--value-1);
}

input[type="range"][ng-reflect-model="2"]:active::-webkit-slider-thumb {
    background-color: var(--value-2);
}

input[type="range"][ng-reflect-model="3"]:active::-webkit-slider-thumb {
    background-color: var(--value-3);
}

input[type="range"][ng-reflect-model="4"]:active::-webkit-slider-thumb {
    background-color: var(--value-4);
}