@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~angular-calendar/css/angular-calendar.css";
:root {
    --value-0: #FF0000;
    --value-1: #FFFF00;
    --value-2: #AAAAAA;
    --value-3: #00FF00;
    --value-4: #0000FF;
}

.cal-month-view .cal-cell {
    max-width: calc(100%/7);
}