<div class="container card rounded-3 w-25" style="background:rgba(0,0,0,0.2); box-shadow: 2px 2px 16px black;color:rgb(185, 184, 181)">
    <div class="row d-flex flex-grow justify-content-center align-items-center">
        <div class="col card-body">
            <form>
                <div class="mb-1">
                    <label class="form-label" for="username">Username:</label>
                    <input name="username" type="username" id="username" class="form-control" [(ngModel)]="username">
                </div>

                <div class="form-group mb-1">
                    <label class="form-label" for="password">Password:</label>
                    <input name="password" type="password" id="password" autocomplete="current-password" class="form-control" [(ngModel)]="password">

                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>

                <div *ngIf="registering">
                    <label class="form-label" for="passwordConfirm">Confirm Password:</label>
                    <input name="passwordConfirm" type="password" id="passwordConfirm" autocomplete="current-password" class="form-control" [(ngModel)]="passwordRepeated">
                </div>

                <div *ngIf="!registering" class="text-center align-items-center mt-3">
                    <button class="btn btn-outline-primary" type="button" (click)="registering=!registering">Register</button>
                    <span class="mx-2">or</span>
                    <button class="btn btn-primary" type="button" (click)="login()">Log in</button>
                </div>

                <div *ngIf="registering" class="text-center align-items-center mt-3 btn-group w-100" role="group">
                    <button class="btn btn-outline-primary" type="button" (click)="registering=false">Cancel</button>
                    <button class="btn btn-primary" type="button" (click)="register()">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>